@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,300&family=Rubik+Scribble&display=swap');

#mainpage-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#mainpage-content-text {
    width: fit-content;
    height: 50vh;
}

#mainpage-content-text > p {
    font-size: 18px;
}

#mainpage-oly-gif-container {
    width: 50vh;
    height: 50vh;
    font-family: 'Alegreya Sans';
    font-size: 18px;
    margin: 20px 20px;
}

#mainpage-oly-gif {
    width: 100%;
    height: 100%;
    background-image: url('../assets/1.gif');
    background-size: contain;
    background-repeat: no-repeat;
}

#mainpage-oly-gif:hover {
    background-image: url('../assets/oly.gif');
}

.fi-element {
    opacity: 0;
  }
  .fi-element.fade-in {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .fi-element.fade-in:nth-child(3) {
    animation-delay: .3s;
  }
  .fi-element.fade-in:nth-child(4) {
    animation-delay: .6s;
  }
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

#scrolling-container {
  height: fit-content;
}

@media (max-width: 1212px) {
  h1 {
    margin: 0px 0px;
  }

  #mainpage-content {
    flex-direction: column-reverse;
    justify-content: center;
  }

  #mainpage-content-text {
    height: fit-content;
  }

  #mainpage-oly-gif {
    background-image: url('../assets/oly.gif');
}

  #gif-hover-hint {
    visibility: hidden;
  }
}

@media only screen and (max-width: 500px) {
  body {
    background-color: blue;
  }

  body h1 {
    font-size: 40px;
  }

  body h2 {
    font-size: 20px;
    margin: 0px 0px;
  }

  #scrolling-inner-list-item {
    font-size: 20px;
  }

  #mainpage-oly-gif-container {
    width: 40vh;
  }
}