#projects-content {
    block-size: 100%;
}

section {
    height: 100%;
    /* block-size: 100%; */
  }
  
  html {
    scroll-snap-type: y mandatory;
  }
  
  section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }

.projects-content-text > h1 {
  margin-bottom: 10px;
}

.projects-content-text > h2 {
  margin: 0px;
}
  
  /* section:nth-of-type(2) {
    color: white;
  }
  
  section:nth-of-type(1) {
    color: black;
    background: ;
  } */
  
#inventory-tracker-app-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px 30px;
}

.demo {
  height: 80vh;
  margin-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}