*,
*::before,
*::after {
  box-sizing: border-box;
}

#timeline-placeholder {
  visibility: hidden;
  height: 10vh;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: var(--color-text);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  z-index: -1;
}

#small-container.right {
  max-width: fit-content;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: var(--color-background);
  border: 2px solid var(--color-text);
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: var(--color-text);
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  width: fit-content;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--color-text-light);
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -115px;
}

.container.right .date {
  left: -115px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: var(--color-background);
  border: 2px solid var(--color-text);
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: var(--color-inner);
  position: relative;
  border-radius: 40px;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 40px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 22px;
  font-weight: normal;
  color: var(--color-text-light);
}

.container .content ul {
  padding-left: 10px;
  line-height: 30px;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
    content: none;
  }

  .container {
    width: 100%;
    padding-left: 100px;
    padding-right: 30px;
    font-size: 16px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    left: 92px;
    display: none;
  }

  .container.left::before,
  .container.right::before {
    left: 95px;
    /* display: none; */
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 7px;
  }

  .container.left .icon,
  .container.right .icon {
    top: calc(50% - 10px);
    height: 20px;
    width: 20px;
    right: auto;
    left: 110px;
  }

  .container.left .content,
  .container.right .content {
    padding: 10px 10px 10px 45px;
    border-radius: 40px;
  }
}