@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&family=Rubik+Scribble&display=swap');

:root {
  --color-text: rgb(189, 179, 255);
  --color-text-light: rgb(227, 222, 255);
  --color-text-hover: rgb(56, 217, 245);
  --color-text-active: rgb(188, 56, 245);
  --color-inner : rgb(109, 46, 209);
  --color-outer : rgb(66, 39, 242);
  --color-background: #242424;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Rubik Scribble';
  font-size: 60px;
  color: var(--color-text);
}

#root,
#root > div, 
#root > div > div, 
body,
html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

div {
  font-family: "Alegreya Sans";
}
